<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--ESTO ES USANDO EL CDN-->
</head>

<body>
    <div id="myApp"><!--ESTE ID VA A REPRESENTARA MI APLICACIÓN POR LO QUE DEBE IR EN EL JS-->
        {{listaFrases}}
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>

        <hr>
        
        <ul>
            <li v-for="mifrase in listaFrases">{{mifrase.frase}}-{{mifrase.autor}}
                <button>{{mifrase.autor}}</button>
                <p>{{mifrase.frase}}</p>
            </li>
        </ul>
        
        <hr>
        
        <label for="idFrase">Frase: </label>
        <input id="idFrase" type="text">
        <label for="idAutor">Autor: </label>
        <input id="idAutor" type="text">
        <button>Agregar</button>

        <hr>

        <ul>
            <li v-for="{frase,autor} in listaFrases">{{frase}}-{{autor}}
                <button>{{autor}}</button>
                <p>{{frase}}</p>
            </li>
        </ul>
    </div>
    <script src="../js/appfrases.js"></script>

</body>

</html>